@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", serif;
  /* font-weight: 400; */
  /* font-style: normal; */
}

@media (min-width: 768px) {
  .container.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }

  .container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  .container.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }

  .container.right-panel-active .overlay {
    transform: translateX(50%);
  }

  .container.right-panel-active .overlay-left {
    transform: translateX(0);
  }

  .container.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
}

@keyframes show {
  0%,
  10.99% {
    opacity: 0;
    z-index: 1;
  }

  30%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

